html {
  min-height: 100%;
}

.App {
  text-align: center;
  background-image: url("./assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  image-rendering: -webkit-optimize-contrast;
  /* background-position: 50% 50%; */
  min-height: 100%;
}

.grid-container {
  height: 50%;
  margin: auto;
  /* width: 50%; */
  display: inline-grid;
  align-items: center;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-rows: 1fr;
  grid-gap: 10px;
}
.row {
  display: flex;
  align-items: center;
  /* background-color: #321063; */
  padding: 30px;
  /* background-image: url("./assets/GoldOutline.png"); */
  /* border: 5px solid #b38728; */
}
.row img {
  width: 60%;
}
.row:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  /* border-image: url("./assets/GoldOutline.png"); */
}

.first {
  /* background-color: #321063; */
  border-radius: 23%;
  width: 334.341px;
  height: 347.52px;
  position: absolute;

  left: 23%;
  margin-bottom: -72px;
}
.speed-left {
  text-align: center;
  position: relative;
  color: white;
  top: -206px;
  font-size: 16px;
  shadow: 0 0 3px #000;
  h2 {
    color: white !important;
    margin-top: -9px;
    text-shadow: 0 0 3px #000;
  }
}

/** Speedometer Styles **/
/** Speedometer Styles **/
.speedometer-container {
  width: 48rem;
  height: 48rem;
  position: relative;
  background-color: #000;
  box-shadow: 0 0 10rem rgba(0, 0, 0, 0.75);
}

.speedometer-container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: radial-gradient(circle at top left, #fff, transparent);
  opacity: 0.12;
}

.overlay {
  pointer-events: none;
}

.overlay::before,
.overlay::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.overlay::before {
  background-image: radial-gradient(circle at top left, #25fabb, transparent);
  opacity: 0.04;
}

.overlay::after {
  background-image: radial-gradient(
    circle at bottom right,
    #874bd7,
    transparent
  );
  opacity: 0.2;
}

.speedometer .inner-ring {
  width: 21rem;
  height: 21rem;
  position: absolute;
  top: calc(50% - 12.5rem);
  left: calc(50% - 10.5rem);
}

.speedometer .inner-ring::before,
.speedometer .inner-ring::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid transparent;
  border-top: 2px solid #3b3d45;
  border-right: 2px solid #3b3d45;
  border-radius: 50%;
}

.speedometer .inner-ring::before {
  transform: rotate(-75deg);
}

.speedometer .inner-ring::after {
  transform: rotate(-15deg);
}

/* Speedometer Speed Readings */
.speedometer .speed-readings {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.speedometer .speed-readings::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-left: 1px solid white;
  height: 100%;
}

.speed-reading {
  position: absolute;
  transform-origin: top center;
  transform: rotate(var(--angle)) translateX(-50%) translateY(-100%);
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  z-index: 5;
}

.loader-spin {
  position: absolute;
  left: 15%;
  width: 186.341px;
  height: 251.52px;
  top: -3%;
}

@for $i from 0 to 10 {
  .speed-reading:nth-child(#{$i + 1}) {
    --angle: #{18deg * $i};
  }
}
.ind-right {
  top: 106px;
  position: absolute;
  left: 18em;
  /* right: 8em; */
  /* transform: matrix(-1, 0, 0, -1, 0, 0); */
}
.icons-list img {
  margin-left: 8px;
}
.user {
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.3;
  border-radius: 25px;
  width: auto;
  height: 9%;
  display: flex;
}

.user img {
  width: 66px;
}

.image-nav {
  width: 306px;
  height: 151px;
  opacity: 0.3;
  background-color: transparent;
  margin-top: 11px;
  display: contents;
}

.image-nav img {
  width: 111px;
  margin-top: 18px;
}
.arrow img {
  /* margin-top: -96x; */
  width: 26px;
}

.arrow {
  margin-top: -99px;
}

.date-time {
  top: -247px;
  text-align: center;
  color: white;
  display: flex;

  p {
    margin: 2px;
    padding: 12px;
  }
}

.date-time img {
  width: 50%;
}

.days-left {
  color: white;
}

.ind-left {
  top: 106px;
  position: absolute;
  left: -1em;
  /* transform: matrix(-1, 0, 0, -1, 0, 0); */
}
.second {
  /* background-color: #321063; */
  /* width: 282.341px; */
  height: 347.52px;

  position: absolute;
  left: 41%;
  top: 10%;
}
.icons-list {
  margin: 6px;
  padding: 1px;
  display: flex;
  width: 20%;
  img {
    padding: 5px;
  }
}
.last {
  /* background-color: #321063; */
  border-radius: 54%;
  width: 334.341px;
  height: 347.52px;
  position: absolute;
  left: 54%;
  margin-bottom: -72px;
}
// creare css with clock direction numbers

.clock {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  background: #fff;
  box-shadow: inset 0 0 0 2px #333;
  z-index: 1;
}

.clock::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: #333;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.clock .hand {
  position: absolute;
  width: 2px;
  height: 50%;
  background: #333;
  top: 50%;
  left: 50%;
  transform-origin: bottom;
  z-index: 3;
}

.clock .hand::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background: #333;
  border-radius: 50%;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
}

.tick {
  transform-origin: bottom;
  position: absolute;
  background: linear-gradient(to top, transparent 90%, red 90%);
  height: 140px;
  width: 2px;
  top: 10px;
  left: 50%;
  transform: rotate(var(--angle)) rotateZ(-127deg);
}
.tick:nth-child(odd)::before {
  position: absolute;
  content: attr(value) "";
  color: #fff;
  left: -8px;
  top: 20px;
  z-index: 11;
  transform: rotate(var(--position-number));
}

@for $i from 0 to 20 {
  .tick:nth-child(#{$i + 1}) {
    --angle: #{360deg / 27 * $i};
    --position-number: #{130deg + (-13.5deg * $i)};
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
