html {
  min-height: 100%;
}

.App {
  text-align: center;
  background-image: url("./assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  image-rendering: -webkit-optimize-contrast;
  min-height: 100%;
}

.grid-container {
  height: 50%;
  margin: auto;

  display: inline-grid;
  align-items: center;

  grid-template-rows: 1fr;
  grid-gap: 10px;
}

.row {
  display: flex;
  align-items: center;
  padding: 30px;
  background-color: #321063;
}

.row img {
  width: 60%;
}
.row:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
}

.first {
  border-radius: 23%;
  width: 334.341px;
  height: 347.52px;
  position: absolute;

  left: 23%;
  margin-bottom: -72px;
}
.speed-left {
  text-align: center;
  position: relative;
  color: white;
  top: -206px;
  font-size: 16px;
  shadow: 0 0 3px #000;
  h2 {
    color: white !important;
    margin-top: -9px;
    text-shadow: 0 0 3px #000;
  }
}

.progress-bar {
  position: absolute;
}
.progress-bar-text p {
  position: absolute;
  left: 312%;
  top: -77%;
  color: cornsilk;
}
.percent {
  position: absolute;
  top: 65%;
  left: 47%;
}
.percent p {
  font-size: 1rem;
  color: white;
}

.loader-spin {
  position: absolute;
  left: 15%;
  width: 186.341px;
  height: 251.52px;
  top: -3%;
  animation: moveImg 5s 3;
}
@keyframes moveImg {
  100% {
    offset-distance: 100%;
  }
}
loader-spin img {
  offset-path: path(
    "M331.893,172.463a160.235,160.235,0,0,1-41.669,107.884,31.2,31.2,0,0,1,2.814,2.845c.743.865,1.43,1.693,2.071,2.5a167.438,167.438,0,0,0,43.986-113.228c0-92.711-75.426-168.137-168.137-168.137S2.821,79.752,2.821,172.463A167.573,167.573,0,0,0,50.755,289.9a39.533,39.533,0,0,1,4.974-5.209A160.384,160.384,0,0,1,10.023,172.463c0-88.74,72.2-160.935,160.935-160.935S331.893,83.723,331.893,172.463"
  );
}

@for $i from 0 to 10 {
  .speed-reading:nth-child(#{$i + 1}) {
    --angle: #{18deg * $i};
  }
}
.ind-right {
  top: 106px;
  position: absolute;
  left: 18em;
}
.icons-list img {
  margin-left: 8px;
}

.user {
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.3;
  border-radius: 25px;
  width: auto;
  height: 9%;
  display: flex;
}

.user img {
  width: 66px;
}

.image-nav {
  width: 306px;
  height: 151px;
  opacity: 0.3;
  background-color: transparent;
  margin-top: 11px;
  display: contents;
}

.image-nav img {
  width: 111px;
  margin-top: 18px;
}
.arrow img {
  width: 26px;
}

.arrow {
  margin-top: -99px;
}

.date-time {
  top: -247px;
  text-align: center;
  color: white;
  display: flex;

  p {
    margin: 2px;
    padding: 12px;
  }
}

.date-time img {
  width: 50%;
}

.days-left {
  color: white;
}
.days-left p {
  font-size: 1rem;
  margin-top: 1px;
}

.ind-left {
  top: 106px;
  position: absolute;
  left: -1em;
}
.second {
  height: 347.52px;
  position: absolute;
  left: 41%;
  top: 10%;
}
.icons-list {
  margin: 6px;
  padding: 1px;
  display: flex;
  width: 20%;
  img {
    padding: 5px;
  }
}
.last {
  border-radius: 54%;
  width: 334.341px;
  height: 347.52px;
  position: absolute;
  left: 54%;
  margin-bottom: -72px;
}

. . @for $i from 0 to 20 {
  .tick:nth-child(#{$i + 1}) {
    --angle: #{360deg / 27 * $i};
    --position-number: #{130deg + (-13.5deg * $i)};
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
